html,
body,
.popup-container {
  height: 100%;
}

#popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

#popup-prompt {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.popup-container {
  display: flex;
  flex-flow: column wrap;
  position: fixed;
  z-index: 2;
  min-width: 320px;
  min-height: 300px;
  max-width: 55%;
  max-height: 75%;
  gap: 0.5em;
  background-color: blue;
  padding: 30px;
  text-align: center;
  border: 2px solid black;
  border-radius: 10px;
  margin-top: 1em;
  margin-bottom: auto;
  transition: 200ms ease-in-out;
}

.popup-missing-field-active {
  position: fixed;
  z-index: 2;
  left: 38%;
  text-align: center;
  border: 2px solid black;
  border-radius: 10px;
  background-color: blue;
  transition: 200ms ease-in-out;
  margin: 0% 10% 10% 0%;
}

.hidden {
  display: none;
}

.title,
.author,
.pages {
  margin: 0.5em;
  padding: 0.5em;
}

.bottom-prompt-container {
  display: inline-flex;
  margin-top: 2em;
}

.submit-button {
  margin-left: auto;
}

.prompt-heading {
  font-size: 2em;
}

.checkbox {
  margin-left: 2em;
}

.book-display {
  display: flex;
  justify-content: center;
  text-align: center;
  background: grey;
  margin: 1em;
  padding: 1em;
}

.book-read {
  background-color: green;
}

.book-not-read {
  background-color: red;
}
